# App
NODE_ENV=development
APP_REGION=ES
APP_LOCALE=es-ES

# Database (PostgreSQL)
DATABASE_URL="postgresql://ept:ept@localhost:5432/ept?schema=public"

# Auth.js
AUTH_SECRET="cambia-esto-por-un-secreto-largo-y-aleatorio"
AUTH_URL="http://localhost:3000"

# Rate limiting / cache (opcional en beta)
REDIS_URL="redis://localhost:6379"

# Observabilidad
LOG_LEVEL=info
